.indicator {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(45deg)
}

.arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  animation: animate 1s linear infinite
}

.arrow:nth-child(1) {
  top: -14px;
  left: -14px;
  animation-delay: 0s;
}

.arrow:nth-child(2) {
  top: -7px;
  left: -7px;
  animation-delay: 0.2s;
}

.arrow:nth-child(3) {
  top: 0;
  left: 0;
  animation-delay: 0.4s;
}

@keyframes animate {
  0% {
    border-color: #fff;
    transform: translate(0, 0);
  }

  20% {
    border-color: #fff;
    transform: translate(15px, 15px);
  }

  20.1%,
  100% {
    border-color: #ffd64a;
  }
}